/* fontawesome. */
@import "variables";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
/* end fontawesome. */

.overlay {
  width: 100%; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  background-image: url("../images/auth/left-section-image.png"), linear-gradient(180deg, rgba(144, 144, 233, 0.1) 0%, rgba(99, 59, 99, 0.1) 100%);
  background-blend-mode: luminosity;
  background-size: cover;
}

body {
  font-family: 'Gilroy', sans-serif;
}

.title {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.5px;
  /* gray900 */
  color: #1A1A1A;
}

.sub-title {
  font-family: 'Gilroy', sans-serif;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.4px;

  /* gray500 */
  color: #999999;
}

.login-title {
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.0015em;

  /* gray900 */
  color: #1A1A1A;
}

.login-form {
  padding: 5em;
}

.login-form-label {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #262626;
}

.login-button {
  font-size: 14px;
}

.header-navbar {
  padding: 0;
  min-height: 4.2rem;
  align-items: center;
  transition: 300ms ease all;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
}

.header-navbar .navbar-wrapper {
  width: 100%;
}

.navbar .navbar-container {
  margin-left: 220px;
}

.header-navbar .navbar-container {
  height: auto;
}

.header-navbar .navbar-container {
  padding: 0 18px;
  height: 4.2rem;
  transition: 300ms ease all;
  background: inherit;
}

.navbar .navbar-header {
  float: left;
  width: 220px;
}

.header-navbar .navbar-header {
  width: 220px;
  height: 4.2rem;
  float: left;
  position: relative;
  padding: 0 0.85rem;
  transition: 300ms ease all;
}

.navbar-nav {
  height: 100%;
}

.brand-text {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.15px;
  color: #EEE2EE;
  line-height: 1.3rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

@media (min-width: 768px) {
  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    height: 100%;
  }

  .navbar-nav {
    flex-direction: row;
  }
}

.notification-badge {
  position: absolute;
  top: 19px;
  right: 1px;
  padding: 4px 4px;
  border-radius: 50%;
  background: red;
  border: 1px solid #ffffff;
  color: white;
}

.avatar-image {
  border: 1px solid #6666E0 !important;
  box-sizing: border-box;
  border-radius: 8px;
}

.avatar {
  padding: 5px 12px;
  background: #F2F2F2;
  border-radius: 8px;

  .dropdown-toggle::after {
    @extend %fa-icon;
    @extend .fas;

    display: inline-block;
    margin-left: .655em;
    vertical-align: .02em;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    content: fa-content($fa-var-angle-down);
    border: none;
  }

  .user-name {
    font-size: 14px;
    color: #000000;
    line-height: 24px;
  }
}

.nav-search {
  background: #FFFFFF;
  border: 1px solid #DEE2E9;
  border-radius: 4px;
}

.menu-icon {
  font-size: 19px;
}